.left-menu {
  background-color: white;
  width: $left-menu-width;
  min-width: $left-menu-width;
  border: solid 1px rgba(51,51,51,0.12);
  border-top: none;
  border-left: none;
  a {color: $secondary-color}
  .collapsible {
    border: none;
    box-shadow: none;
    .collapsible-body {
      padding: 0;
    }
  }
  ul {
    margin-top: 0;
    font-size: 15px;
    line-height: 44px;
    list-style-type: none;
    li {
      cursor: pointer;
      padding: 0 30px;
      display: block;
      min-height: 3rem;
      line-height: 3rem;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      &.active{
        background-color: $primary-color-light;
      }
    }
  }
}
