$grid-width: 820px;
$gutter: 20px;
$grid-item-width: 400px;

.content .front-stats {
  margin-bottom: 0;
}
.card.stat {
  .no-data {
    text-align: center;
  }
}
.section.stats{
  min-width: $grid-width;
  width: 100%;
}

.grid {
  width: 100%;
  .grid-item {
    width: $grid-item-width;
    margin: 0 0 $gutter 0;
  }
}

