.filters
  .row
    .col.instruction.s2
      Filter traces
    = form_tag(app_traces_path, method: :get, class: 'col s10') do
      .row
        .input-field.col.s5
          = select_tag(:os, options_for_select(AppTrace.os, params[:os]), multiple: true, include_blank: 'All')
          %label
            Operating system
        .input-field.col.s5
          = select_tag(:connectivity, options_for_select(AppTrace.connectivities, params[:connectivity]), multiple: true, include_blank: 'All')
          %label
            Connectivity
        .input-field.col.s2
          = submit_tag 'Filter', class: 'waves-effect waves-light btn'

