%ul.collapsible{data: {collapsible: 'expandable'}}
  - StatCategory.top_level.each do |category|
    %li
      %a.collapsible-header= category.name
      .collapsible-body
        %ul
          - category.subcategories.each do |subcategory|
            %li{data: {section: subcategory.name}}= subcategory.name

