%ul.collapsible{data: {collapsible: 'expandable'}}
  - StatCategory.root_categories.each do |parent|
    %li
      %a.collapsible-header= parent.pretty_name
      .collapsible-body
        %ul
          - StatCategory.children_of(parent.id).each do |child|
            %li{data: {section: child.name}}= child.pretty_name

