// Receive trace & stat as argument
- data = trace.analysis[:measures][stat.name].to_a # to_a cast nil to []

.section
  .row
    .col.s12
      .card
        .card-content
          %span.card-title
            = stat.name
          .content
            - if data.empty?
              No data
            - else
              - if stat.proportion?
                = pie_chart data
              - elsif stat.cdf?
                = line_chart data, max: 100, ytitle: "CDF", xtitle: stat.node, library: {xAxis: {type: 'linear'}}
        .card-action
          = stat.description


