%ul.collapsible{data: {collapsible: 'expandable'}}>
  %li 
    %a.collapsible-header Nature of sockets 
    .collapsible-body
      %ul
        %li Link1
        %li Link2
        %li Link3
  %li 
    %a.collapsible-header Functions usage 
    .collapsible-body
      %ul
        %li Link1
        %li Link2
        %li Link3
  %li 
    %a.collapsible-header Usage patterns 
    .collapsible-body
      %ul
        %li Link1
        %li Link2
        %li Link3
  %li 
    %a.collapsible-header Threads usage 
    .collapsible-body
      %ul
        %li Link1
        %li Link2
        %li Link3

