- stat_categories.each do |cat|
  .section{data: {section: cat.name}}
    .row
      .col.s12
        %h5= cat.pretty_name
        %p= cat.description
      - Stat.category(cat.id).each do |stat|
        .col.s6= render 'shared/stat', stat: stat, analysis: analysis
