- stat_data = trace.stat_data(stat)
.section
  .row
    .col.s12
      .card
        .card-content
          %span.card-title
            = capitalize_first(stat.name)
          .content
            - if stat_data.empty?
              No data for this trace.
            - else
              - if stat.proportion?
                = pie_chart stat_data
              - elsif stat.cdf?
                = line_chart stat_data, max: 100, ytitle: "CDF", xtitle: stat.node, library: {xAxis: {type: 'linear'}}
        - if stat.description.present?
          .card-action= stat.description
