%header
  %nav.top-nav
    .container
      .nav-wrapper
        = link_to "Tcpsnitch", '', class: 'page-title'
  %ul#nav-mobile.side-nav.fixed
    %li
      %a{href: '#'} Section 1
    %li
      %a{href: '#'} Section 2 
    %li
      %a{href: '#'} Section 3 
%main
  .container
    .row 
      .section
        %p.caption
          This is a caption text

        %h3.header
          Section name
          
        %p 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis non dolor convallis sodales. Morbi eget lacus nibh. Integer in suscipit neque. Morbi mattis erat at turpis molestie efficitur eget tincidunt leo. Proin malesuada faucibus purus, vitae viverra enim fermentum convallis. Cras facilisis dignissim libero, rutrum congue felis porta non. Mauris ac porttitor velit, quis gravida enim. Aenean id tincidunt est, sed malesuada neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ac suscipit nulla, sit amet aliquam felis. Mauris vel eros pharetra, ultricies lorem nec, volutpat mauris. Nunc volutpat vestibulum nisl sit amet aliquet.

          Vivamus pretium metus id libero posuere tempor. Praesent blandit libero euismod lorem pretium dapibus. Vestibulum efficitur feugiat arcu. Aliquam quis neque vulputate, dapibus velit in, porta ex. Duis at metus posuere, porta quam ut, tempus est. In maximus tempor massa et dapibus. Sed elementum dui neque, vehicula lacinia diam dictum nec. Suspendisse consectetur scelerisque nibh, a aliquam magna posuere ut. Nulla facilisi. Praesent interdum eu odio ornare efficitur.

%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text Footer Content
        %p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
      .col.l4.offset-l2.s12
        %h5.white-text Links
        %ul
          %li
            %a.grey-text.text-lighten-3{:href => "#!"} Link 1
          %li
            %a.grey-text.text-lighten-3{:href => "#!"} Link 2
          %li
            %a.grey-text.text-lighten-3{:href => "#!"} Link 3
          %li
            %a.grey-text.text-lighten-3{:href => "#!"} Link 4
  .footer-copyright
    .container
      © 2014 Copyright Text
      %a.grey-text.text-lighten-4.right{:href => "#!"} More Links

