- content_for :page_header_title, 'Sockets API usage'
- content_for :page_header_text, 'Statistics about the real usage of the sockets API'
- content_for :main_header, render('filters')
- content_for :left_menu, render('left_menu')

.content-with-left-menu
  = render 'shared/stats', analysable: @dataset_segment
