- content_for :page_header_title, 'Browse traces'
- content_for :page_header_text, 'Browse available traces, filter by operating system or application'
- content_for :main_header, render('shared/filters')

.container
  .row
    %h6
      #{@app_traces.total_count} traces found

    %table
      %thead
        %tr
          %th App
          %th Os
          %th Connectivity
          %th.right-align #Processes
          %th.right-align #Sockets
          %th.right-align #Events
          %th.right-align Version
          %th.right-align Created at
          %tr
      = render partial: 'index_elem', collection: @app_traces, as: :app_trace, cached: true
    = paginate @app_traces
