@import "materialize/components/color";

$primary-color: color("indigo", "lighten-2") !default;
$primary-color-light: color("indigo", "lighten-4") !default; 
$secondary-color: color("blue-grey", "darken-4") !default;
$ternary-color: color("light-green", "lighten-3") !default;
$bg-color: color("grey", "lighten-5") !default;

@import 'materialize';
@import 'shared/filters';

$left-menu-width: 300px;
$horizontal-padding: 70px;

html,body {
	height: 100%;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  -webkit-font-smoothing: antialiased;
	color: $secondary-color; 
	a {color: $secondary-color;}
}

header nav {
	background-color: $secondary-color;
	display: flex;
	font-weight: 400;
	.logo {
		background-color: darken($secondary-color, 2%);
		width: $left-menu-width;
		padding-left: $horizontal-padding;
		font-size: 20px;
		a {color: white;}
	}
}

header .banner {
	padding: 30px $horizontal-padding;
	background-color: $primary-color;
	h1 {
		color: white;
		line-height: 110%;
		font-size: 48px;
		font-weight: 300;
	}
	h4 {
		font-weight: 300;
		color: $primary-color-light; 
	}
}

main .main-header {
	font-size: 24px;
	background-color: $ternary-color; 
	padding: 15px $horizontal-padding;
}

main .main-body {
	background-color: $bg-color;
	display: flex;

	.left-menu {
		background-color: white;
		width: $left-menu-width;
		min-width: $left-menu-width;
		border: solid 1px rgba(51,51,51,0.12);
		ul {
			font-size: 15px;
			padding-left: 30px;
			line-height: 44px;
			list-style-type: none;
		}
		.collapsible {
			border: none;
			box-shadow: none;
			.collapsible-body {
				padding: 0;
			}
		}
	}
	.content {
		background-color: $bg-color;
	}
}

main .caption {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 30px;
}

footer.page-footer {
	.footer-main, .footer-copyright {
		padding: 0 $horizontal-padding;
	}
}
