@import "materialize/components/color";
$primary-color: color("indigo", "lighten-2") !default;
$secondary-color: color("indigo", "lighten-4") !default;
@import 'materialize';

html,body {
	height: 100%;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.87);
}

header, main, footer {
	padding-left: 300px;
}

.banner { 
	background-color: $primary-color;

	h1 {
		color: white;
		line-height: 110%;
		font-size: 48px;
		margin: 0 0 1.68rem 0;
		padding-top: 2.1rem;
		font-weight: 300;
	}

	h4 {
		padding-bottom: 40px;
		font-weight: 300;
		color: $secondary-color;
	}
}


.side-nav {
	li#logo a {
		font-size: 30px;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

main .caption {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 30px;
}

